{
  "plugins": [
    // "@babel/plugin-proposal-do-expressions",
    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      }
    ]
  ],
  "presets": ["next/babel", "@babel/preset-typescript"]
}
